{% extends 'base.html' %}
{% block content %}
    <meta charset="UTF-8">
    <title>Status Page</title>
<style>


    .status-box .name-box h5{
            font-size: 16px;
            font-weight: bold;
            color: #141823;
            margin: 0;
            padding: 0;
    }

    hr {
          line-height: 1px;
          height: 1px;
          color: rgba(0, 0, 0, .1);
          background: rgba(0, 0, 0, .1);
          border: 0;
    }

    #input-status #form  h3 {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 24px;
    }

    #input-status #form> .status-form-textarea{
        box-sizing: border-box;
        height:  50%;
        font-family: "Open Sans", "helvetica", "Arial";
        font-size: 14px;
        width: 100%;
    }

    #input-status .btn btn-lg btn-block btn-info{
        width: 20px;
    }

    .status-box{
        background-color: white;
    }

    .status-box .content {
        padding: 12px;
    }

    .status-box  .status-box-header {
      max-height: 40px;
      margin-bottom: 11px;
    }

    .status-box .status-box-header .profile-pic-box{
          float: left;
          width: 40px;
          height: 40px;
          margin-right: 8px;
    }

    .status-box .status-box-header .profile-pic{
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }

    .status-box .status-box-header .name-box{
        width: calc(100% - 40px - 8px);
    }


    .status-box .content .status-content-box{
        padding-left: 48px;
    }

    .status-box  .comment-section{
        border-top: 1px solid #e1e2e3;
        margin: 0;
        padding: 9px 12px 7px 12px;
        font-size: 12px;
        background-color: #f6f7f8;
        border-radius: 0 0 3px 3px;
        color: #141823;
        overflow: hidden;
    }

    .status-box .comment-section .row{
        width: 32px;
        height: 50px;
        float: left;
        margin-right: 8px;
    }

    .status-box .comment-section .write-comment input[type="text"]{
        margin-left: 50%;
        max-width: 3000%;
        min-width: 2000%
    }

    #submit{
        width:100px;
        font-size:90%;
    }


</style>
<body>
    <section name="input-status" id="input-status">
        <div class="container">
            <form id="form" method="POST" action="{% url 'status-page:status_post' %}">
                <h3>Update Status</h3>
                {% csrf_token %}
                {{ status_form}}
                <br>
                <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
            </form>
        </div>
    </section>
    <br>
<section name="all-status" id="all-status">
<div class="container">

    {% for status  in all_status %}
        <div class="status-box">
            <div class="content">
                <div class="status-box-header">
                    <div class="profile-pic-box">
                        <img class="profile-pic" src="https://68.media.tumblr.com/9103b7aa4ce37f5995f64cc1705a3683/tumblr_njydxvU2IZ1sf8yjgo3_400.gif" alt="">
                    </div>
                    <div class="name-box">
                        <h5>Chiyoko</h5>
                        <span class="status-date-added">{{ status.created_date }}</span>
                    </div>
                </div>
                <div class="status-content-box">
                    {{ status.status_content }}
                </div>
                <hr />
            </div>
    </div>
        <br>
    {% endfor %}
</div>

</section>
</body>
{% endblock %}