{% extends "base.html" %}
{% block content %}

    <style media="screen">
      button{
        padding: 10px;

      }
      p,h1,h2,h3,h4{

      }
      body{
        background-color: #f3f3f3;
      }
	  .col-sm-12{
		background-color: #f5f3f3;
	  }
    .btn{
      color: black;
    }
	  header{
      font-size: 25px;
    }
    </style>
  <body>
    <h1>Profile</h1>
  <div class="bio">
    <div class="row">
        <img src="https://lh3.googleusercontent.com/ez8pDFoxU2ZqDmyfeIjIba6dWisd8MY_6choHhZNpO0WwLhICu0v0s5eV2WHOhuhKw=w170" alt="">
        <strong><h3>{{name}}</h3>
        <p>Birthday       {{birth}}</p>
        <p>Gender         {{gender}}</p>
        <p>Expertise <button type="button" class="btn btn-outline-secondary">Charismatic</button><button type="button" class="btn btn-outline-secondary">Good Looking</button><button type="button" class="btn btn-outline-secondary">Fast Learner</button></p>
        <p>Description    {{description}}</p>
        <p>Email          {{email}}</p></strong>
</div>
</div>
{% endblock %}

