<!-- Fixed navbar -->
<style type="text/css">
    .bg-navbar{
        background-color: #71b5ff
    }

    .navbar-header .navbar-brand{
        font-weight: bold;
        color: #f9ffed;
        font-family: Montserrat;
        font-size: 24px;
    }
    .navbar-collapse .nav li{
        font-weight: bold;
        color: #f9ffed;
        font-family: Montserrat;
        font-size: 18px;
    }

</style>
<div class="container-fullwidth">
  <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-navbar navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" >LING ON</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a style="color:black" href="/dashboard/"> Dashboard </a> </li>
        <li><a style="color:black" href="/add_friend/"> Add Friend </a></li>
        <li><a style="color:black" href="/status-page/"> Status </a> </li>
        <li><a style="color:black" href="/profile/"> Profile </a> </li>
      </ul>
    </div><!--/.nav-collapse -->
  </nav>
</div>