{% extends "base.html" %}
{% block content %}
<style type="text/css">
	body{
		color:lightgrey;
	}
	.image{
		border-radius:90%;
		width:150px;
		height:150px;
		margin-left: 43%;
	}
	.image2{
		border-radius:90%;
		width:80px;
		height:80px;
	}
	.navbar-brand,ul{
		font-size:20px;
	}
	p{
		font-size: 18px
	}
	h1{
		font-size:23px;
		display: inline-block;
		font-weight: bold;
		margin-left: 28%;
	}
	h2{
		font-size:32px;
	}
	h3{
		font-size:38px;
		display: inline-block;
		margin-left: 10%
		font-weight: bold;
	}
	h4{
		font-size:25px;
	}
	h5{
		font-size: 22px;
		display: inline-block;
		margin-left: 15px;
	}
	h6{
		font-size: 13px;
	}
	#name{
		font-size:38px;
		text-align: center;
		margin-left: 10%
		font-weight: bold;
	}
	#feeds{
		margin-left: 12%;
	}
	.content{
		width: 250px;
	}
</style>

<h4>Statistic</h4>
<img alt="Fadhlan Hazim" class="image" src="https://lh3.googleusercontent.com/ez8pDFoxU2ZqDmyfeIjIba6dWisd8MY_6choHhZNpO0WwLhICu0v0s5eV2WHOhuhKw=w170">
<p id = "name">{{nama}}</p>
<br></br>

<h1>Friends</h1>
<h5>{{friends}} People</h5>
<h1 id="feeds">Feeds</h1>
<h5>{{feeds}} Posts</h5>
</br>
</br>
<hr></hr>

<h2>Latest Post</h2>
<img alt="Fadhlan Hazim" class="image2" src="https://lh3.googleusercontent.com/ez8pDFoxU2ZqDmyfeIjIba6dWisd8MY_6choHhZNpO0WwLhICu0v0s5eV2WHOhuhKw=w170">
<h3 style="font-size: 25px">{{nama}}</h3>
</br>
<div class="content">
  <p>{{ contentss }}</p>
  <h6>{{ created_date }}</h6>
</div>

{% endblock %}
