body {
	margin-top: 70px;
}

section{
  min-height: 230px;
}

input {
    width: 100%;
    margin: 5px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.alert-dismissable {
	width: 50%;
	font-size: 85%;
}

#add-input {
    margin-bottom: 50px;
}

.friends-list{
    text-align: center;
    border: 3px solid #000;
    background: background: #fff;
    height: 300px;
    position: relative;
    z-index: 15;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}

.flex-item {
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

.friends-list:hover {
    -webkit-box-shadow: 0 12px 25px 10px rgba(41, 224, 212, 0.88);
    -moz-box-shadow: 0 12px 25px 10px rgba(41, 224, 212, 0.88);
    -o-box-shadow: 0 12px 25px 10px rgba(41, 224, 212, 0.88);
    box-shadow: 0 12px 25px 10px rgba(41, 224, 212, 0.88);
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
}

#friend-image {
    border-radius: 100%;
    width: 110px;
    height: 110px;
    display: block;
    margin: 30px auto 20px;
}

.friends-list .friend-list-name {
  font-size: 24px;
  font-weight: 700;
  padding: 5px 0 0;
}

.friends-list .friend-list-url {
  padding: 10px 0 0;
  z-index: 15;
  text-align: center;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
    .flex-item {
        padding: 0 15px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 1199px) {
    .flex-item {
        padding: 0 15px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
    }
}