{% extends "base.html" %}
{% block content %}
{% load static %}
<link type ="text/css" href="{% static 'css/add_friend.css' %}" rel="stylesheet">
<section name='add-input' id='add-input'>
	<h4>Add Friend</h4>
	<form id='form' method="POST" action="{% url 'add_friend:add_friend' %}">
		{% csrf_token %}
        {{ forms_add }}
        <br>
	    <button id="submit" type="submit" class="btn pull-right btn-primary">Add Friend</button>
	</form>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <div class="flex">
            {% if friend %}
                {% for data in friend %}
                    <div class="flex-item">
                        <div class="friends-list">
                            <div class="friend-list-image">
                                <img id="friend-image" src="http://keuda.kemendagri.go.id/asset/dataupload/profil-direktorat/320004365.png" alt="profile-image"/>
                            </div>
                            <div class="friend-list-name">
                                {{data.name}}
                            </div>
                            <div class="friend-list-url">
                                <a href="{{ data.url }}" target="_blank">{{ data.url }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<section name='friend-list' id='friend-list'>
	<h4>List Friend</h4>
	<table class='table table-responsive table-hover'>
		<tbody>
			{% if friend %}
				{% for i in friend %}
				<tr>
					<td> {{ i.name }} </td>
					<td></td>
					<td> <a href="{{ i.url }}" target="_blank">{{ i.url }}</a> </td>
					<td><i> Added 	{{ i.created_date }} </i></td>
				</tr>
				{% endfor %}
			{% else %}
			<div class="alert alert-danger text-center">
                <strong>Oops!</strong> You don't have any friends.
            </div>
            {% endif %}
		</tbody>
	</table>
</section>
{% endblock %}
