{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title> 
        {% block title %} Tugas 1 By {{author}}{% endblock %}
    </title>
    <style type="text/css">
    body{
        background: linear-gradient(#0f0c29,#302b63);
        width:auto;
        color: lightgrey;
    }
    p{
        font-family: 'Roboto', sans-serif;
    }
    .navbar-brand,ul{
        font-size:20px;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: 'Roboto', sans-serif;
    }

</style>
</head>

<body>
    <header>
        {% include "partials/header.html" %}
        <br>
        <br>
        <br>
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
